body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #343a40;
    color: #fff;
}

.nav-link,
.navbar-brand {
    color: #fff !important;
}

.input-group {
    margin-bottom: 20px;
}

.list-group-item {
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 5px;
}

.alert-container,
.recommendations-text {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
}

.btn-link {
    color: #007bff;
    cursor: pointer;
}

.btn-link:hover {
    text-decoration: underline;
}

.social-icon {
    transition: transform .3s ease-in-out;
}

.social-icon:hover {
    transform: rotate(360deg);
}

.explosion-container {
    position: relative;
    animation: .5s ease-in-out explosion;
}

@keyframes explode {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes explosion {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.alert-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #343a40;
    color: #fff;
    padding: 20px;
}

.alert-content {
    text-align: center;
}

.alert-content button {
    margin-top: 10px;
}

.recommendations-text {
    font-family: Arial;
    font-size: 18px;
    background-color: #fff;
    padding: 15px;
}

.custom-button {
    background-color: #4781bb;
    color: #ab3434;
    padding: 8px 16px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    margin: 6px;
    transition: background-color .3s ease-in-out;
}

.custom-button:hover {
    background-color: #1a1a1a;
    border-color: #1a1a1a;
}
